<!-- Start events Area -->
<section class="events-area section-gap" id="upcoming">
  <div class="container">
    <div class="single-events row col-padding">
      <div class="col-sm-2 image">
        <img src="img/e1.jpg" alt="">
      </div>
      <div class="col-sm-8 details">
        <h3><a href="<%= to("/#{@event.id}") %>"><%= @event.name %></a></h3>
        <p>
          <%= @event.description %>
        </p>
        <p>
          Created by user with id:
          <%= @event.creator.name %>
        </p>
        <p>
          Starts at
          <%= @event.start_time.strftime("%F %T") %>
        </p>
        <p>
          End time
          <%= @event.end_time.strftime("%F %T") %>
        </p>
        <p>
          Location
          <%= @event.location %>
        </p>
        <p>
          Users here: <a href="/user">123123</a>, <a href="/user">sadad</a>, <a href="/user">qweqwwe qqwe</a>
        </p>
        <p class="meta">
          <span class="lnr lnr-heart"></span>
          <span class="likes">05 likes</span>
          <span class="lnr lnr-bubble"></span>
          <span class="likes">06 comments</span>
        </p>
        <% if @event.creator != get_user  %>
          <button class="btn btn-info">Subscribe</button>
        <% end %>
        <% if @event.creator == get_user %>
          <button class="btn btn-info">Delete</button>
        <% end %>
      </div>
    </div>


    <!-- Start messages area -->
    <div class="row">

      <div class="col-sm-12">
        <div class="chatbody">

          <table class="table">

            <% @event.comments.each do |comment| %>

              <tr>
                <td><img src="<%= comment.creator.picture %>"/></td>
                <td><strong>Author: <%= comment.creator %></strong>
                  <%= comment.text %>
                </td>
              </tr>

            <% end %>

          </table>

        </div>

        <div class="row">
          <div class="col-xs-9">
            <input type="text" placeholder="Yozing..." class="form-control"/>
          </div>
          <div class="col-xs-3">
            <button class="btn btn-info btn-block">Send</button>
          </div>
        </div>

      </div>
    </div>
    <!-- End messages area -->

  </div>
</section>
<!-- End events Area -->