<% @events.each do |event| %>

  <!-- Start events Area -->
  <section class="events-area section-gap" id="upcoming">
    <div class="container">
      <div class="single-events row col-padding">
        <div class="col-sm-2 image">
          <img src="img/e1.jpg" alt="">
        </div>
        <div class="col-sm-8 details">
          <h3><%= event.name %></h3>
          <p>
            <%= event.description %>
          </p>
          <p>
            Created by user with id:
            <%= event.creator_id %>
          </p>
          <p>
            Starts at
            <%= event.start_time %>
          </p>
          <p>
            End time
            <%= event.end_time %>
          </p>
          <p>
            Location
            <%= event.location %>
          </p>
          <p>
            Users here: <a href="/user">123123</a>, <a href="/user">sadad</a>, <a href="/user">qweqwwe qqwe</a>
          </p>
          <p class="meta">
            <span class="lnr lnr-heart"></span>
            <span class="likes">05 likes</span>
            <span class="lnr lnr-bubble"></span>
            <span class="likes">06 comments</span>
          </p>
          <button class="btn btn-info">Subscribe</button>
        </div>
      </div>

    </div>
  </section>
  <!-- End events Area -->

<% end %>

